
.county {
    cursor: pointer;
    fill: #000;
    shape-rendering: geometricPrecision;
    stroke: #333;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-opacity: 1.0;
    stroke-width: 0.75px;
}

.state {
    fill: none;
    stroke: #000;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
}

.info {

    text-shadow: none;
}

.name {
    color: #fff;
    font-size: 250%;
    font-weight: bold;
    margin-top: 4.0em;
    text-shadow: 1px 1px 0 #000;
}
