body, html {
    background: #101316;
    height: 100%;
}

body {
    color: #f3f6f9;
    font-size: 22px;
    padding-top: 70px;
}

h2 {
    font-size: 150%;
    margin-top: none;
}

hr {
    border-top-color: #369;
}

.dropdown-toggle {
    font-size: 14px;
}

.fullscreen-map {
    height: 90%;
    width: 90%;
    margin: auto;
}

.logo {
    text-align: right;
}

.sidebar {
    background: #000;
    border-radius: 1.0em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: #f3f3f3;
    height: 90%;
    padding: 1.5em;
    position: absolute;
    right: 0;
    top: 1.5em;
    width: 33%;
}

.slide {
    height: 100%;
    margin-bottom: 20px;
    padding: 2em;
    padding-top: 0;
}

.tall {
    height: 100%;
}
