/*
 * Color Theme: http://www.colourlovers.com/palette/1930/cheer_up_emo_kid
 * Mighty Slate: #556270
 * Pacifica: #4ecdc4
 * Apple Chic: #c7f464;
 * Cheery Pink: #ff6b6b;
 * Grandma's Pillow: #c44d58
 */

body, html {
    /*background: #051220;*/
    /*background: #cccccd;*/
    background: #21272D;
    height: 100%;
}

body {
    /*color: #f3f6f9;*/
    /*color: #1f1f23;*/
    color: #cccccd;
    font-size: 28px;
    letter-spacing: 0.02em;
    padding-top: 70px;
    /*text-shadow: 1px 1px 0 #fff;*/
}

h2 {
    font-size: 250%;
    margin-top: none;
}

hr {
    border-top-color: #369;
}

ul {
    list-style: none;
}

.dropdown-toggle {
    font-size: 14px;
}

.fullscreen-map {
    height: 100%;
    width: 100%;
    margin: auto;
}

.logo {
    text-align: right;
}

.nav {
    text-shadow: none;
}
.navbar {
    background: linear-gradient(to bottom, #21272d 0%,#000000 100%);
    border-bottom: 1px solid #666;
    box-shadow: 0 1px 7px #000;
}

.sidebar {
    background: #222;
    border-radius: 0.5em;
    color: #f3f3f3;
    font-size: 18px;
    padding: 1.5em 0.5em;
}

.slide {
    height: 100%;
    margin-bottom: 20px;
    padding: 2em;
    padding-top: 0;
}

.tall {
    height: 100%;
}
