body {
    background-color: #e3e3e3;
}

.state {
    cursor: pointer;
    fill: #999;
    stroke: #222;
    stroke-width: 1px;
}
.state:hover {
    /*fill: #ff0909;*/
    fill: #fff;
    transition-property: fill;
    transition-duration: 2s;
}

