
.stream {
    fill: none;
    fill-opacity: 0.5;
    stroke: #09f;
    stroke-opacity: 0.5;
    stroke-width: 1.0px;
}

.road {
    fill: none;
    fill-opacity: 0.5;
    stroke: #0f9;
    stroke-opacity: 0.5;
    stroke-width: 1.0px;
}
.county {
    cursor: pointer;
    fill: #222;
    stroke: #666;
}
.county:hover {
    fill: #333;
}
