<!DOCTYPE html>
<html lang="en">

    <head>

        <title>Level Up! - D3.js</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Learn D3.js step by step">
        <meta name="viewport" content="width=device-width">

        <!-- Vendor css -->
        <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
        <!-- Level Up css -->
        <link rel="stylesheet" href="../styles/base.css"/>

    </head>

    <body>

        <!-- Navigation Section Start -->
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../">Brand</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="../">Course Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sections <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">01. Hello D3</a></li>
                                <li><a href="#">02. Data Selection</a></li>
                                <li><a href="#">03. Data Binding</a></li>
                                <li><a href="#">04. Basic Charts</a></li>
                                <li><a href="#">05. Basic Maps</a></li>
                                <li><a href="#">06. Infographics</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <!-- Navigation Section End -->

        <!-- Page Content Section Start -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">



<h1><%= title %></h1>


                </div>
            </div>
        </div>
        <!-- Page Content Section End -->

        <!-- Footer Section Start -->
        <!-- Footer Section End -->

        <!-- Vendor Scripts -->
        <script src="../bower_components/jquery/dist/jquery.js"></script>
        <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="../bower_components/d3/d3.js"></script>
        <script src="../bower_components/momentjs/moment.js"></script>

        <!-- Level Up Scripts -->
        <script src="<%= id %>.js"></script>

    </body>
</html>
